[Unit]
Description=Dynamic web and application server
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile=/run/freeunit/freeunit.pid
RuntimeDirectory=freeunit
ExecStart=/usr/sbin/unitd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
