[Unit]
Description=Ookla NetGauge
Documentation=https://support.ookla.com/hc/en-us/categories/204419828-NetGauge
After=network.target network-online.target

[Service]
Type=forking
UMask=0002
Restart=on-failure
PermissionsStartOnly=true

PIDFile=/run/netgauge.pid
ExecStart=/opt/netgauge/OoklaServer --daemon

[Install]
WantedBy=multi-user.target
