[Unit]
Description=BGP38 compliance tester service

[Service]
User=spoofer
Group=spoofer
ExecStart=/usr/bin/spoofer-prober -s 1 -r 0
Type=simple

[Install]
WantedBy=multi-user.target
