[Unit]
Description=Gitlab Workhorse handles slow HTTP requests for Gitlab.

[Service]
Type=simple
User=workhorse
Group=gitlab
WorkingDirectory=/var/lib/git/gitlab-workhorse
SyslogIdentifier=gitlab-workhorse

ExecStart=/usr/bin/gitlab-workhorse -listenUmask 022 -listenNetwork unix -listenAddr /run/gitlab-workhorse/gitlab-workhorse.socket -authBackend http://127.0.0.1:8080 -authSocket /var/lib/git/gitlab/tmp/sockets/gitlab.socket -secretPath /var/lib/git/gitlab/.gitlab_workhorse_secret -logFile /var/log/gitlab-workhorse/gitlab-workhorse.log -documentRoot /var/lib/git/gitlab/public

[Install]
WantedBy=multi-user.target
