[Unit]
Description=UDP port redirector
After=network.target

[Service]
Type=forking
User=uredir
Group=uredir
ExecStart=/usr/bin/uredir 127.0.0.1:1777
Restart=on-abort

[Install]
WantedBy=multi-user.target
