[Desktop Entry]
Name=Azure Data Studio - URL Handler
Comment=Azure Data Studio
GenericName=Text Editor
Exec=/opt/bin/azuredatastudio --no-sandbox --open-url %U
Icon=azuredatastudio
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/azuredatastudio;
Keywords=azuredatastudio;
