# Copyright 1999-2018 Gentoo Authors
# Distributed under the terms of the GNU General Public License v2

[Unit]
Description=TCP port redirector
After=network.target

[Service]
Type=forking
User=redir
Group=redir
ExecStart=/usr/bin/redir 127.0.0.1:1777
Restart=on-abort

[Install]
WantedBy=multi-user.target
