[Unit]
Description=NGINX Amplify Agent
Documentation=https://amplify.nginx.com/docs/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
User=nginx
Group=nginx
Type=forking
PermissionsStartOnly=true
ExecStart=/usr/bin/nginx-amplify-agent.py start --config=/etc/nginx-amplify-agent/agent.conf --pid=/run/nginx-amplify-agent/nginx-amplify-agent.pid
ExecStop=/usr/bin/nginx-amplify-agent.py stop --config=/etc/nginx-amplify-agent/agent.conf --pid=/run/nginx-amplify-agent/nginx-amplify-agent.pid
PIDFile=/run/nginx-amplify-agent/nginx-amplify-agent.pid
RuntimeDirectory=nginx-amplify-agent

[Install]
WantedBy=multi-user.target
