[Unit]
Description=UniFi Controller
Requires=network-online.target
After=network-online.target

[Service]
Restart=always
Type=forking
TimeoutSec=5min
KillMode=process
User=unifi
WorkingDirectory=/var/lib/unifi
ExecStart=/usr/bin/java -jar /usr/lib/unifi/lib/ace.jar start
ExecStop=/usr/bin/java -jar /usr/lib/unifi/lib/ace.jar stop

[Install]
WantedBy=multi-user.target
