[Unit]
Description=NOCProject supervisor service
After=network.target

[Service]
WorkingDirectory=/var/lib/noc-tower
User=noc
ExecStart=/usr/bin/tower-web --listen=127.0.0.1:8888 --log-file-prefix=/var/log/noc/noc-tower.log

[Install]
WantedBy=multi-user.target
