[Desktop Entry]
Name=VK
Comment=VK Messenger
GenericName=VK
Exec=/usr/bin/vk %U --disable-gpu
Icon=vk
Type=Application
StartupNotify=true
Categories=Network;

