```
[Unit]
Description=ddns-route53
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=ddns-route53
Group=ddns-route53
ExecStart=/usr/bin/ddns-route53 --config /etc/ddns-route53/ddns-route53.yml
Restart=always
#Environment=TZ=Europe/Paris
#Environment=AWS_ACCESS_KEY_ID=********
#Environment=AWS_SECRET_ACCESS_KEY=********
Environment=SCHEDULE="*/30 * * * *"

[Install]
WantedBy=multi-user.target
