[Unit]
Description=Resilio Sync service
Documentation=http://help.getsync.com/
After=network.target

[Service]
Type=forking
User=rslsync
Group=rslsync
UMask=0002
Restart=on-failure
PermissionsStartOnly=true
PIDFile=/run/resilio-sync/resilio-sync.pid
ExecStartPre=/bin/mkdir -p /run/resilio-sync
ExecStartPre=/bin/chown -R rslsync:rslsync /run/resilio-sync
ExecStart=/usr/bin/rslsync --config /etc/resilio-sync/config.json

[Install]
WantedBy=multi-user.target
